.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #111111d2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto;
    color: #ffffffda;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .detail h1 {
    font-size: 2.5rem;
    margin-bottom: 25px;
    text-align: center;
  
  }
  
  .detail h2 {
    font-size: 1.3rem;
    margin: 5px 0;
    color: #ff2400;
  }

  .detail h3 {
    color: rgb(136, 136, 136);
    border-top: 1px solid gray;
  }
  
  .detail p {
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.6;
  }
  
  .detailImage {
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
  }

