.form {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.449);
  border-radius: 10px;
  height: 100vh;
}

.form h2 {
  color: rgb(220, 218, 218);
}

.form select {
  width: 300px;
  height: 30px;
  background-color: rgba(73, 73, 73, 0);
  border: transparent;
  border-bottom: 1px solid #00dbdb;
  color: rgb(127, 127, 127);
  outline: none;
}

.form input {
  height: 30px;
  width: 300px;
  background-color: #00dbdb00;
  border: transparent;
  border-bottom: 1px solid #00dbdb;
  color: #ffffff;
  outline: none;
}

.form p {
  font-size:larger;
  color: red;
}

.createButton{
  margin-top: 50px;
  width: 300px;
  border: none;
  height: 35px;
  font-size: large;
  font-weight: 600;
  background-color: rgb(173, 1, 1);
  color: white;
  border-radius: 20px;
  transition: background-color 0.35s;
}

.createButton:hover{
  background-color: rgb(104, 0, 0);
}

.selectedGenre{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff28;
  margin-bottom: 5px;
  font-size: large;
  border-radius: 3px;
}

.selectedGenre button {
  background-color: rgba(255, 0, 0, 0.339);
  color: #ffffff;
  border: transparent;
  transition: background-color 0.35s;
  border-radius: 3px;
}

.selectedGenre button:hover {
  background-color: rgba(255, 0, 0, 0.748);
}

.addPlatformButton {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 25px;
  font-weight: 900;
  margin-left: -35px;
  transition: color 0.35s;
  height: 30px;
}

.addPlatformButton:hover {
  color: rgb(136, 136, 136);
}

.dateSelector::-webkit-calendar-picker-indicator{
  filter: invert();
  font-size: 17px
}
